#habilidades{

    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
        list-style:none;
        padding:0;

        li{
            background:@color-principal;
            color:white;
            padding:10px 20px;
            border-radius:30px;
        }
    }
}