@media(max-width:768px){

    header{
        flex-direction:column;
        padding:20px;
    }

    .hero{
        grid-template-columns:1fr;
        padding:40px 20px;
        text-align:center;
    }

    .seccion{
        padding:40px 20px;
    }

}